@keyframes play {
    100% {
        background-position: (-574px/2);
        display: none;
    }
}

@keyframes button_change {
    0% {
        color: #DC3A3C;
    }

    50% {
        color: #fff;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sonic_left {
    0% {
        left: -70px;
    }

    100% {
        right: 70px;
    }
}

@keyframes spider_left {
    0% {
        right: 0;
        top: 200%;
    }

    10% {
        right: 800%;
        top: 150%;
    }

    20% {
        right: 500%;
        top: 70%;
    }

    30% {
        right: 100%;
        top: -70%;
    }

    40% {
        right: -500%;
        top: 100%;
    }

    50% {
        right: -1000%;
        top: 50%;
    }

    60% {
        right: -600%;
        top: 0%;
    }

    70% {
        right: -200%;
        top: -30%;
    }

    80% {
        right: 300%;
        top: -100%;
    }

    90% {
        right: 100%;
        top: 0;
    }

    100% {
        right: 0;
        top: 200%;
    }
}


@keyframes play_spider {
    100% {
        background-position: (192.8px);

    }
}

@keyframes typing {
    0% {
        display: none;
        visibility: visible;
        width: 0
    }

    to {
        width: 100%;



    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

@keyframes blinkey-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

// @keyframes shake {
//     from {
//         transform: skewX(10px)
//     }

//     to {
//         transform: skewY(10px)
//     }
// }


.html,
.jscript,
.git,
.csslogo,
.sasslogo,
.jquerylogo,
.reactlogo,
.nodelogo {
    margin: 0 auto;
    width: 300px;
}

.html,
.jscript,
.git,
.csslogo,
.sasslogo,
.jquerylogo,
.reactlogo,
.nodelogo {
    &:hover {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}