.container {
    min-width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    background: url(../img/367a5bbd4ace61ce07886a007c7ff2e3.gif) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: sticky;

    @media (max-width: 600px) {
        max-width: 100%;
        font-size: 0.8em;
    }
}

.container2 {
    min-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0.894)), url(../img/stop.png) no-repeat;
    background-size: cover;
    background-position: center;
    // position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;

    @media (max-width: 700px) {
        max-width: 100%;
        font-size: 0.8em;
    }



    .main_background {
        height: 100%;
        width: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        position: relative;



        .monster__container {
            width: (140px/2);
            height: (173px/2);
            position: absolute;
            top: 35px;
            left: -100px; // animation: sonic_left 1s linear;

            .monster {
                top: 20px;
                left: 1600px;
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 2% auto;
                background: url(../img/spritesheet.png) left;
                background-size: cover;
                animation: play 0.4s steps(4) infinite, sonic_left 1.5s linear 1s;

                @media (max-width: 700px) {
                    animation: play 0.4s steps(4) infinite, sonic_left 2s linear 1.3s;
                }
            }
        }


    }

    /* DEMO-SPECIFIC STYLES */
    .typewriter {
        position: absolute;
        top: 70px;

        h1 {

            font-size: 3em;
            top: 20px;
            color: rgb(0, 0, 0);
            font-family: monospace;
            overflow: hidden;
            // display: none;
            visibility: hidden;
            /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange;
            /* The typwriter cursor */
            white-space: nowrap;
            /* Keeps the content on a single line */
            // margin: 0 auto;
            /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em;
            /* Adjust as needed */
            animation:
                typing 0.5s steps(30, end),
                blink-caret .5s step-end;

            // animation-delay: 1.3s;
            @media (max-width: 700px) {
                font-size: 2em;
            }
        }
    }

    /* The typing effect */

}



.toggle__button {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    animation: button_change infinite alternate 1.3s;
    cursor: pointer; // align-self: center;
}