body {
    background-color: #05040B;
}

.container {
    max-width: 1074px;
    margin: 0 auto;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/src/img/tree.gif") no-repeat;
    background-size: cover;
    background-color: #030B23;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main_background {
    background: url(../img/retro-game-background-4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .toggle__button {
        font-family: 'Press Start 2P', cursive;
        color: #fff;
        animation: button_change infinite alternate 1.3s;
    }
}

@keyframes button_change {
    0% {
        color: #DC3A3C;
    }
    50% {
        color: #fff;
    }
}