body {
    background-color: #05040B;
    font-size: 16px;
}

a {
    text-decoration: none;
}





#menuToggle {
    @media (max-width: 500px) {
        display: block;
    }

    display: none;
    // position: relative;
    // top: 50px;
    // left: 50px;

    z-index: 5;

    -webkit-user-select: none;
    user-select: none;

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        // top: -7px;
        // left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    span {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;

        background: #aa0063;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    span:first-child {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
}





/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
//  #menuToggle 

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -70px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
        padding: 10px 0;
        font-size: 22px;
    }
}



/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
    transform: none;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/tree.gif) no-repeat;
    background-size: cover;
    background-color: #030B23;
    background-position: center;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
    animation: fadeout ease-out linear 1s;
}

.container {
    min-width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    background: url(../img/367a5bbd4ace61ce07886a007c7ff2e3.gif) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;

    @media (max-width: 500px) {
        max-width: 100%;
        font-size: 0.8em;
    }
}

.container2 {
    min-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0.894)), url(../img/stop.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
        max-width: 100%;
        font-size: 0.8em;
    }

    .navigation {

        @media (max-width: 500px) {
            justify-content: space-around;
            
        }
        width: 100%;
        color: #fff;
        background-color: #000;

        height: 50px;
        font-family: 'Press Start 2P',
            cursive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;

        .navigation__signature {
            margin-left: 10px;
            font-family: 'Clicker Script', cursive;
            font-size: 1.5em;
            color: #aa0063;
        }

        .navigation__list {
            @media (max-width: 500px) {
                display: none !important;
            }

            width: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;

            li {
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: #aa0063;
                    transition: 0.5s;
                }
            }

            a {
                color: #fff;
            }
        }
    }

    .main_background {
        height: 100%;
        width: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        position: relative;

        .monster__container {
            width: (140px/3);
            height: (173px/3);
            position: absolute;
            top: 20px;
            left: -100px; // animation: sonic_left 1s linear;

            .monster {
                top: 20px;
                left: 1600px;
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 2% auto;
                background: url(../img/spritesheet.png) left;
                background-size: cover;
                animation: play 0.4s steps(4) infinite, sonic_left 3s linear 1s;

                @media (max-width: 500px) {
                    animation: play 0.4s steps(4) infinite, sonic_left 3s linear 1.6s;
                }
            }
        }
    }

    /* DEMO-SPECIFIC STYLES */
    .typewriter {
        position: absolute;
        top: 70px;

        h1 {
            top: 20px;
            color: rgb(0, 0, 0);
            font-family: monospace;
            overflow: hidden;
            // display: none;
            visibility: hidden;
            /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange;
            /* The typwriter cursor */
            white-space: nowrap;
            /* Keeps the content on a single line */
            // margin: 0 auto;
            /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em;
            /* Adjust as needed */
            animation:
                typing .5s steps(30, end),
                blink-caret .5s step-end;
            // animation-delay: 1s;
        }
    }

    /* The typing effect */
    @keyframes typing {
        0% {
            display: none;
            visibility: visible;
            width: 0
        }

        to {
            width: 100%;



        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: orange
        }
    }
}

.toggle__button {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    animation: button_change infinite alternate 1.3s;
    cursor: pointer; // align-self: center;
}

@keyframes play {
    100% {
        background-position: (-574px/3);
    }
}

@keyframes button_change {
    0% {
        color: #DC3A3C;
    }

    50% {
        color: #fff;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sonic_left {
    0% {
        left: -70px;
    }

    100% {
        right: 70px;
    }
}