body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

#menuToggle {
  display: none;
  position: relative;
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

@media (max-width: 600px) {
  #menuToggle {
    display: block;
  }
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #aa0063;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 -100px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu a {
  cursor: pointer;
}

#menu a li {
  padding: 10px 0;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1em;
  color: #000;
}

#menu a li:hover {
  color: #aa0063;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/tree.gif) no-repeat;
  background-size: cover;
  background-color: #030B23;
  background-position: center;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeout ease-out linear 1s;
          animation: fadeout ease-out linear 1s;
}

.navigation {
  width: 100%;
  color: #fff;
  background-color: #000;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6em;
}

@media (max-width: 700px) {
  .navigation {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navigation .navigation__signature {
  margin-left: 10px;
  font-family: 'Clicker Script', cursive;
  font-size: 2em;
  color: #aa0063;
}

.navigation .navigation__signature h1 {
  font-size: 2.2em;
}

.navigation .navigation__signature p {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 0.3em;
}

.navigation .navigation__list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 600px) {
  .navigation .navigation__list {
    display: none !important;
    font-size: 0.8em;
  }
}

.navigation .navigation__list li {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation .navigation__list li:hover {
  color: #aa0063;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation .navigation__list a {
  color: #fff;
}
/*# sourceMappingURL=nav.css.map */